In [1]:
import pandas as pd
import re

### Read csv

In [2]:
df = pd.read_csv("qual_data.csv")

### Combine list of unused columns

In [3]:
columns_to_drop = [
    "StartDate",
    "EndDate",
    "Status",
    "IPAddress",
    "RecordedDate",
    "RecipientLastName",
    "RecipientFirstName",
    "RecipientEmail",
    "ExternalReference",
    "LocationLatitude",
    "LocationLongitude",
    "DistributionChannel",
    "UserLanguage",
    "consent",
    "combination",
    "priorExperience",
    "Q111",
    "Q24",
    "Q25",
]

### Drop unused columns

In [4]:
df = df.drop(columns_to_drop, axis=1)

### Drop duplicate ResponseId

In [5]:
df = df.drop(df.iloc[:, [66]], axis=1)

### Create list of columns for renaming

In [6]:
rename_columns = {
    "Q93_1":"t3_1",
    "Q93_2":"t3_2",
    "Q93_3":"t3_3",
    "Q93_4":"t3_4",
    "Q98_1":"t6_1",
    "Q98_2":"t6_2",
    "Q98_3":"t6_3",
    "Q98_4":"t6_4",
    "Q99_1":"t9_1",
    "Q99_2":"t9_2",
    "Q99_3":"t9_3",
    "Q99_4":"t9_4",
    "Q100_1":"t12_1",
    "Q100_2":"t12_2",
    "Q100_3":"t12_3",
    "Q100_4":"t12_4",
    "Q101_1":"t15_1",
    "Q101_2":"t15_2",
    "Q101_3":"t15_3",
    "Q101_4":"t15_4",
    "Q102_1":"t18_1",
    "Q102_2":"t18_2",
    "Q102_3":"t18_3",
    "Q102_4":"t18_4",
    "Q103_1":"t21_1",
    "Q103_2":"t21_2",
    "Q103_3":"t21_3",
    "Q103_4":"t21_4",
    "Q104_1":"t24_1",
    "Q104_2":"t24_2",
    "Q104_3":"t24_3",
    "Q104_4":"t24_4",
    "Q105_1":"t27_1",
    "Q105_2":"t27_2",
    "Q105_3":"t27_3",
    "Q105_4":"t27_4",
    "Q106_1":"t30_1",
    "Q106_2":"t30_2",
    "Q106_3":"t30_3",
    "Q106_4":"t30_4",
    "Q107_1":"t33_1",
    "Q107_2":"t33_2",
    "Q107_3":"t33_3",
    "Q107_4":"t33_4",
    "Q108_1": "t36_1",
    "Q108_2": "t36_2",
    "Q108_3": "t36_3",
    "Q108_4": "t36_4",
    "feature_usefullness_1" : "sidebar_rating",
    "feature_usefullness_2" : "categorization_rating",
    "feature_usefullness_3" : "category_sidebar_rating"
}

### Rename the columns

In [7]:
df = df.rename(rename_columns, axis=1)

### Drop 1st two rows containing redundant data(question test, import id)

In [8]:
df = df.drop(df.index[0:2])

### Combine list of columns to change the data type

In [9]:
correct_dtypes = {
    "t3_1": float,
    "t3_2": float,
    "t3_3": float,
    "t3_4": float,
    "t6_1": float,
    "t6_2": float,
    "t6_3": float,
    "t6_4": float,
    "t9_1": float,
    "t9_2": float,
    "t9_3": float,
    "t9_4": float,
    "t12_1":float,
    "t12_2":float,
    "t12_3":float,
    "t12_4":float,
    "t15_1":float,
    "t15_2":float,
    "t15_3":float,
    "t15_4":float,
    "t18_1":float,
    "t18_2":float,
    "t18_3":float,
    "t18_4":float,
    "t21_1":float,
    "t21_2":float,
    "t21_3":float,
    "t21_4":float,
    "t24_1":float,
    "t24_2":float,
    "t24_3":float,
    "t24_4":float,
    "t27_1":float,
    "t27_2":float,
    "t27_3":float,
    "t27_4":float,
    "t30_1":float,
    "t30_2":float,
    "t30_3":float,
    "t30_4":float,
    "t33_1":float,
    "t33_2":float,
    "t33_3":float,
    "t33_4":float,
    "t36_1":float,
    "t36_2":float,
    "t36_3":float,
    "t36_4":float,
    "sidebar_rating":float,
    "categorization_rating":float,
    "category_sidebar_rating":float
}

### Change the data type

In [10]:
df = df.astype(correct_dtypes)

### Create functions to combine the 4 questions for ease_of_use using System Usability Scale method

In [11]:
def process_t3(row):
    if row.IV1 == "fixed-sidebar":
        return 2.5*( (row.t3_1+4-1) + (7 - row.t3_2 - 4) + (row.t3_3 + 4-1) + (7 - row.t3_4 - 4) )
    else:
        return None
    
def process_t6(row):
    if row.IV1 == "fixed-sidebar":
        return 2.5*( (row.t6_1 + 4 - 1) + (7 - row.t6_2 - 4) + (row.t6_3 + 4 - 1) + (7 - row.t6_4 - 4) )
    else:
        return None

def process_t9(row):
    if row.IV1 == "fixed-sidebar":
        return 2.5*( (row.t9_1+4-1) + (7 - row.t9_2 - 4) + (row.t9_3 + 4 -1) + (7 - row.t9_4 - 4) )
    else:
        return None
        
def process_t12(row):
    print(row)
    if row.IV1 == "fixed-sidebar":
        return 2.5*( (row.t12_1 + 4 -1) + (7 - row.t12_2 - 4) + (row.t12_3 + 4 -1) + (7 - row.t12_4 - 4) )
    else:
        return None
    
def process_t15(row):
    if row.IV1 == "fixed-sidebar":
        return 2.5*( (row.t15_1 + 4 -1) + (7 - row.t15_2 - 4) + (row.t15_3 + 4 -1) + (7 - row.t15_4 - 4) )
    else:
        return None
    
def process_t18(row):
    print(row)
    if row.IV1 == "fixed-sidebar":
        return 2.5*( (row.t18_1 + 4 -1) + (7 - row.t18_2 - 4) + (row.t18_3 + 4 -1) + (7 - row.t18_4 - 4) )
    else:
        return None

def process_t21(row):
    if row.IV1 == "floating-sidebar":
        return 2.5*( (row.t21_1 + 4 -1) + (7 - row.t21_2 - 4) + (row.t21_3 + 4 -1) + (7 - row.t21_4 - 4) )
    else:
        return None
    
def process_t24(row):
    if row.IV1 == "floating-sidebar":
        return 2.5*( (row.t24_1 + 4 -1) + (7 - row.t24_2 - 4) + (row.t24_3 + 4 -1) + (7 - row.t24_4 - 4) )
    else:
        return None

def process_t27(row):
    if row.IV1 == "floating-sidebar":
        return 2.5*( (row.t27_1 + 4 -1) + (7 - row.t27_2 - 4) + (row.t27_3 + 4 -1) + (7 - row.t27_4 - 4) )
    else:
        return None
        
def process_t30(row):
    if row.IV1 == "floating-sidebar":
        return 2.5*( (row.t30_1 + 4 -1) + (7 - row.t30_2 - 4) + (row.t30_3 + 4 -1) + (7 - row.t30_4 - 4) )
    else:
        return None
    
def process_t33(row):
    if row.IV1 == "floating-sidebar":
        return 2.5*( (row.t33_1 + 4 -1) + (7 - row.t33_2 - 4) + (row.t33_3 + 4 -1) + (7 - row.t33_4 - 4) )
    else:
        return None
    
def process_t36(row):
    if row.IV1 == "floating-sidebar":
        return 2.5*( (row.t36_1 + 4 -1) + (7 - row.t36_2 - 4) + (row.t36_3 + 4 -1) + (7 - row.t36_4 - 4) )
    else:
        return None

### Apply the previous methods to trial question and combine them together into 1 metric
### Questions were asked after every 3 trials, so broadcast the same answers for previous 2 trials

In [12]:
df["t3"] = df.apply(lambda row: process_t3(row), axis=1)
df["t1"] = df.apply(lambda row:row.t3, axis=1)
df["t2"] = df.apply(lambda row:row.t3, axis=1)

df["t6"] = df.apply(lambda row: process_t6(row), axis=1)
df["t4"] = df.apply(lambda row:row.t6, axis=1)
df["t5"] = df.apply(lambda row:row.t6, axis=1)

df["t9"] = df.apply(lambda row: process_t9(row), axis=1)
df["t7"] = df.apply(lambda row:row.t9, axis=1)
df["t8"] = df.apply(lambda row:row.t9, axis=1)

df["t12"] = df.apply(lambda row: process_t12(row), axis=1)
df["t10"] = df.apply(lambda row:row.t12, axis=1)
df["t11"] = df.apply(lambda row:row.t12, axis=1)

df["t15"] = df.apply(lambda row: process_t15(row), axis=1)
df["t13"] = df.apply(lambda row:row.t15, axis=1)
df["t14"] = df.apply(lambda row:row.t15, axis=1)

df["t18"] = df.apply(lambda row: process_t18(row), axis=1)
df["t16"] = df.apply(lambda row:row.t18, axis=1)
df["t17"] = df.apply(lambda row:row.t18, axis=1)

df["t21"] = df.apply(lambda row: process_t21(row), axis=1)
df["t19"] = df.apply(lambda row:row.t21, axis=1)
df["t20"] = df.apply(lambda row:row.t21, axis=1)

df["t24"] = df.apply(lambda row: process_t24(row), axis=1)
df["t22"] = df.apply(lambda row:row.t24, axis=1)
df["t23"] = df.apply(lambda row:row.t24, axis=1)

df["t27"] = df.apply(lambda row: process_t27(row), axis=1)
df["t25"] = df.apply(lambda row:row.t27, axis=1)
df["t26"] = df.apply(lambda row:row.t27, axis=1)

df["t30"] = df.apply(lambda row: process_t30(row), axis=1)
df["t28"] = df.apply(lambda row:row.t30, axis=1)
df["t29"] = df.apply(lambda row:row.t30, axis=1)

df["t33"] = df.apply(lambda row: process_t33(row), axis=1)
df["t31"] = df.apply(lambda row:row.t33, axis=1)
df["t32"] = df.apply(lambda row:row.t33, axis=1)

df["t36"] = df.apply(lambda row: process_t36(row), axis=1)
df["t34"] = df.apply(lambda row:row.t36, axis=1)
df["t35"] = df.apply(lambda row:row.t36, axis=1)

Progress                               100
Duration (in seconds)                  565
Finished                                 1
ResponseId               R_1jg3libD6KGk9H6
pri_exp                                  1
                               ...
t4                                     NaN
t5                                     NaN
t9                                     NaN
t7                                     NaN
t8                                     NaN
Name: 2, Length: 78, dtype: object
Progress                               100
Duration (in seconds)                  100
Finished                                 1
ResponseId               R_28J2ielzrCfvy71
pri_exp                                  1
                               ...
t4                                    27.5
t5                                    27.5
t9                                    35.0
t7                                    35.0
t8                                    35.0
Name: 3, Length: 78, dtype: object
Progress                               100
Duration (in seconds)                  920
Finished                                 1
ResponseId               R_1q1Bu2t44LidHJ7
pri_exp                                  1
                               ...
t4                                     NaN
t5                                     NaN
t9                                     NaN
t7                                     NaN
t8                                     NaN
Name: 4, Length: 78, dtype: object
Progress                               100
Duration (in seconds)                  852
Finished                                 1
ResponseId               R_1lsl8kCjFiBTyzK
pri_exp                                  1
                               ...
t4                                    30.0
t5                                    30.0
t9                                    30.0
t7                                    30.0
t8                                    30.0
Name: 5, Length: 78, dtype: object
Progress                               100
Duration (in seconds)                  674
Finished                                 1
ResponseId               R_2QuIZZlVUGCBNnT
pri_exp                                  1
                               ...
t4                                     NaN
t5                                     NaN
t9                                     NaN
t7                                     NaN
t8                                     NaN
Name: 6, Length: 78, dtype: object
Progress                               100
Duration (in seconds)                 1053
Finished                                 1
ResponseId               R_RXEQ1CVWS1G26uB
pri_exp                                  2
                               ...
t4                                     NaN
t5                                     NaN
t9                                     NaN
t7                                     NaN
t8                                     NaN
Name: 7, Length: 78, dtype: object
Progress                               100
Duration (in seconds)                   56
Finished                                 1
ResponseId               R_3n15rM0puihW0As
pri_exp                                  2
                               ...
t4                                     NaN
t5                                     NaN
t9                                     NaN
t7                                     NaN
t8                                     NaN
Name: 8, Length: 78, dtype: object
Progress                               100
Duration (in seconds)                 1598
Finished                                 1
ResponseId               R_UfKVwc8Ysy6pN1n
pri_exp                                  1
                               ...
t4                                    30.0
t5                                    30.0
t9                                    25.0
t7                                    25.0
t8                                    25.0
Name: 9, Length: 78, dtype: object
Progress                               100
Duration (in seconds)                 3717
Finished                                 1
ResponseId               R_1cTAX495KgNw4zW
pri_exp                                  1
                               ...
t4                                    32.5
t5                                    32.5
t9                                    27.5
t7                                    27.5
t8                                    27.5
Name: 10, Length: 78, dtype: object
Progress                               100
Duration (in seconds)                  565
Finished                                 1
ResponseId               R_1jg3libD6KGk9H6
pri_exp                                  1
                               ...
t10                                    NaN
t11                                    NaN
t15                                    NaN
t13                                    NaN
t14                                    NaN
Name: 2, Length: 84, dtype: object
Progress                               100
Duration (in seconds)                  100
Finished                                 1
ResponseId               R_28J2ielzrCfvy71
pri_exp                                  1
                               ...
t10                                   32.5
t11                                   32.5
t15                                   32.5
t13                                   32.5
t14                                   32.5
Name: 3, Length: 84, dtype: object
Progress                               100
Duration (in seconds)                  920
Finished                                 1
ResponseId               R_1q1Bu2t44LidHJ7
pri_exp                                  1
                               ...
t10                                    NaN
t11                                    NaN
t15                                    NaN
t13                                    NaN
t14                                    NaN
Name: 4, Length: 84, dtype: object
Progress                               100
Duration (in seconds)                  852
Finished                                 1
ResponseId               R_1lsl8kCjFiBTyzK
pri_exp                                  1
                               ...
t10                                   30.0
t11                                   30.0
t15                                   30.0
t13                                   30.0
t14                                   30.0
Name: 5, Length: 84, dtype: object
Progress                               100
Duration (in seconds)                  674
Finished                                 1
ResponseId               R_2QuIZZlVUGCBNnT
pri_exp                                  1
                               ...
t10                                    NaN
t11                                    NaN
t15                                    NaN
t13                                    NaN
t14                                    NaN
Name: 6, Length: 84, dtype: object
Progress                               100
Duration (in seconds)                 1053
Finished                                 1
ResponseId               R_RXEQ1CVWS1G26uB
pri_exp                                  2
                               ...
t10                                    NaN
t11                                    NaN
t15                                    NaN
t13                                    NaN
t14                                    NaN
Name: 7, Length: 84, dtype: object
Progress                               100
Duration (in seconds)                   56
Finished                                 1
ResponseId               R_3n15rM0puihW0As
pri_exp                                  2
                               ...
t10                                    NaN
t11                                    NaN
t15                                    NaN
t13                                    NaN
t14                                    NaN
Name: 8, Length: 84, dtype: object
Progress                               100
Duration (in seconds)                 1598
Finished                                 1
ResponseId               R_UfKVwc8Ysy6pN1n
pri_exp                                  1
                               ...
t10                                   30.0
t11                                   30.0
t15                                   30.0
t13                                   30.0
t14                                   30.0
Name: 9, Length: 84, dtype: object
Progress                               100
Duration (in seconds)                 3717
Finished                                 1
ResponseId               R_1cTAX495KgNw4zW
pri_exp                                  1
                               ...
t10                                   32.5
t11                                   32.5
t15                                   32.5
t13                                   32.5
t14                                   32.5
Name: 10, Length: 84, dtype: object

### Drop the individual columns for each question since their data has been combined into 1 single column

In [13]:
drop_t_columns = {
"t3_1",
"t3_2",
"t3_3",
"t3_4",
"t6_1",
"t6_2",
"t6_3",
"t6_4",
"t9_1",
"t9_2",
"t9_3",
"t9_4",
"t12_1",
"t12_2",
"t12_3",
"t12_4",
"t15_1",
"t15_2",
"t15_3",
"t15_4",
"t18_1",
"t18_2",
"t18_3",
"t18_4",
"t21_1",
"t21_2",
"t21_3",
"t21_4",
"t24_1",
"t24_2",
"t24_3",
"t24_4",
"t27_1",
"t27_2",
"t27_3",
"t27_4",
"t30_1",
"t30_2",
"t30_3",
"t30_4",
"t33_1",
"t33_2",
"t33_3",
"t33_4",
"t36_1",
"t36_2",
"t36_3",
"t36_4"
}

In [14]:
df = df.drop(drop_t_columns, axis=1)

### Drop some more unused columns

In [15]:
df = df.drop(["platform","Duration (in seconds)"], axis=1)

### Convert from wide to long form

In [17]:
df2 = pd.melt(df, id_vars=["Progress", "Finished","ResponseId","pri_exp","buy_check","browser_check","task_check","age_group","gender","computer_use_confide","sweet_food_affinity","computer_os","sidebar_rating","categorization_rating","category_sidebar_rating","IV1","arrangement","sequence" ,"ecomm_frequence"  ], value_vars = ["t1","t2","t3","t4","t5","t6","t7","t8","t9","t10","t11","t12","t13","t14","t15","t16","t17","t18","t19","t21","t22","t23","t24","t25","t26","t27","t28","t29","t30","t31","t32","t33","t34","t35","t36"], var_name="trial_id",value_name='ease_of_use')

### Remove the rows with NA in ease_of_use column

In [18]:
df3 = df2[df2['ease_of_use'].notna()]

In [19]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 123 entries, 1 to 310
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Progress                 123 non-null    object
 1   Finished                 123 non-null    object
 2   ResponseId               123 non-null    object
 3   pri_exp                  123 non-null    object
 4   buy_check                123 non-null    object
 5   browser_check            123 non-null    object
 6   task_check               123 non-null    object
 7   age_group                123 non-null    object
 8   gender                   123 non-null    object
 9   computer_use_confide     123 non-null    object
 10  sweet_food_affinity      123 non-null    object
 11  computer_os              123 non-null    object
 12  sidebar_rating           123 non-null    float64
 13  categorization_rating    123 non-null    float64
 14  category_sidebar_rating  123 non-null    float64
 15  IV1                      123 non-null    object
 16  arrangement              123 non-null    object
 17  sequence                 123 non-null    object
 18  ecomm_frequence          123 non-null    object
 19  trial_id                 123 non-null    object
 20  ease_of_use              123 non-null    float64
dtypes: float64(4), object(17)
memory usage: 21.1+ KB

### Remove some more unused columns

In [20]:
df3 = df3.drop(["Progress","Finished","task_check","browser_check","sequence","arrangement"], axis=1)

### Convert data type of trial_id columns to int

In [21]:
df3["trial_id"] = df3["trial_id"].str.replace(r'\D+', '').astype('int')

<ipython-input-21-7e6a4762c9ee>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df3["trial_id"] = df3["trial_id"].str.replace(r'\D+', '').astype('int')

### Function for getting the level of IV2 and IV3 using the trial_id

In [22]:
def make_iv2(row):
    if any(lower<=row.trial_id<=upper for (lower, upper) in [(1,3), (10,12),(19,21),(28,30)]):
        return "right_sidebar_no_categorization"
    elif any(lower<=row.trial_id<=upper for (lower, upper) in [(8,9), (16,18),(25,27),(34,26)]):
        return "no_right_sidebar_no_categorization"
    else:
        return "right_sidebar_categorization"

def make_iv3(row):
    if any(lower<=row.trial_id<=upper for (lower, upper) in [(1,9), (19,27)]):
        return "6-cupcakes"
    else:
        return "3-cupcakes"

### Apply the functions previously defined to create columns for IV2 and IV3

In [23]:
df3["IV2"] = df3.apply(lambda row:make_iv2(row),axis=1)
df3["IV3"] = df3.apply(lambda row:make_iv3(row),axis=1)

In [24]:
print(df3[["ResponseId","IV1","IV2","IV3","trial_id","ease_of_use"]].to_string())

            ResponseId               IV1                                 IV2         IV3  trial_id  ease_of_use
1    R_28J2ielzrCfvy71     fixed-sidebar     right_sidebar_no_categorization  6-cupcakes         1         25.0
3    R_1lsl8kCjFiBTyzK     fixed-sidebar     right_sidebar_no_categorization  6-cupcakes         1         35.0
7    R_UfKVwc8Ysy6pN1n     fixed-sidebar     right_sidebar_no_categorization  6-cupcakes         1         32.5
8    R_1cTAX495KgNw4zW     fixed-sidebar     right_sidebar_no_categorization  6-cupcakes         1         30.0
10   R_28J2ielzrCfvy71     fixed-sidebar     right_sidebar_no_categorization  6-cupcakes         2         25.0
12   R_1lsl8kCjFiBTyzK     fixed-sidebar     right_sidebar_no_categorization  6-cupcakes         2         35.0
16   R_UfKVwc8Ysy6pN1n     fixed-sidebar     right_sidebar_no_categorization  6-cupcakes         2         32.5
17   R_1cTAX495KgNw4zW     fixed-sidebar     right_sidebar_no_categorization  6-cupcakes         2         30.0
19   R_28J2ielzrCfvy71     fixed-sidebar     right_sidebar_no_categorization  6-cupcakes         3         25.0
21   R_1lsl8kCjFiBTyzK     fixed-sidebar     right_sidebar_no_categorization  6-cupcakes         3         35.0
25   R_UfKVwc8Ysy6pN1n     fixed-sidebar     right_sidebar_no_categorization  6-cupcakes         3         32.5
26   R_1cTAX495KgNw4zW     fixed-sidebar     right_sidebar_no_categorization  6-cupcakes         3         30.0
28   R_28J2ielzrCfvy71     fixed-sidebar        right_sidebar_categorization  6-cupcakes         4         27.5
30   R_1lsl8kCjFiBTyzK     fixed-sidebar        right_sidebar_categorization  6-cupcakes         4         30.0
34   R_UfKVwc8Ysy6pN1n     fixed-sidebar        right_sidebar_categorization  6-cupcakes         4         30.0
35   R_1cTAX495KgNw4zW     fixed-sidebar        right_sidebar_categorization  6-cupcakes         4         32.5
37   R_28J2ielzrCfvy71     fixed-sidebar        right_sidebar_categorization  6-cupcakes         5         27.5
39   R_1lsl8kCjFiBTyzK     fixed-sidebar        right_sidebar_categorization  6-cupcakes         5         30.0
43   R_UfKVwc8Ysy6pN1n     fixed-sidebar        right_sidebar_categorization  6-cupcakes         5         30.0
44   R_1cTAX495KgNw4zW     fixed-sidebar        right_sidebar_categorization  6-cupcakes         5         32.5
46   R_28J2ielzrCfvy71     fixed-sidebar        right_sidebar_categorization  6-cupcakes         6         27.5
48   R_1lsl8kCjFiBTyzK     fixed-sidebar        right_sidebar_categorization  6-cupcakes         6         30.0
52   R_UfKVwc8Ysy6pN1n     fixed-sidebar        right_sidebar_categorization  6-cupcakes         6         30.0
53   R_1cTAX495KgNw4zW     fixed-sidebar        right_sidebar_categorization  6-cupcakes         6         32.5
55   R_28J2ielzrCfvy71     fixed-sidebar        right_sidebar_categorization  6-cupcakes         7         35.0
57   R_1lsl8kCjFiBTyzK     fixed-sidebar        right_sidebar_categorization  6-cupcakes         7         30.0
61   R_UfKVwc8Ysy6pN1n     fixed-sidebar        right_sidebar_categorization  6-cupcakes         7         25.0
62   R_1cTAX495KgNw4zW     fixed-sidebar        right_sidebar_categorization  6-cupcakes         7         27.5
64   R_28J2ielzrCfvy71     fixed-sidebar  no_right_sidebar_no_categorization  6-cupcakes         8         35.0
66   R_1lsl8kCjFiBTyzK     fixed-sidebar  no_right_sidebar_no_categorization  6-cupcakes         8         30.0
70   R_UfKVwc8Ysy6pN1n     fixed-sidebar  no_right_sidebar_no_categorization  6-cupcakes         8         25.0
71   R_1cTAX495KgNw4zW     fixed-sidebar  no_right_sidebar_no_categorization  6-cupcakes         8         27.5
73   R_28J2ielzrCfvy71     fixed-sidebar  no_right_sidebar_no_categorization  6-cupcakes         9         35.0
75   R_1lsl8kCjFiBTyzK     fixed-sidebar  no_right_sidebar_no_categorization  6-cupcakes         9         30.0
79   R_UfKVwc8Ysy6pN1n     fixed-sidebar  no_right_sidebar_no_categorization  6-cupcakes         9         25.0
80   R_1cTAX495KgNw4zW     fixed-sidebar  no_right_sidebar_no_categorization  6-cupcakes         9         27.5
82   R_28J2ielzrCfvy71     fixed-sidebar     right_sidebar_no_categorization  3-cupcakes        10         32.5
84   R_1lsl8kCjFiBTyzK     fixed-sidebar     right_sidebar_no_categorization  3-cupcakes        10         30.0
88   R_UfKVwc8Ysy6pN1n     fixed-sidebar     right_sidebar_no_categorization  3-cupcakes        10         30.0
89   R_1cTAX495KgNw4zW     fixed-sidebar     right_sidebar_no_categorization  3-cupcakes        10         32.5
91   R_28J2ielzrCfvy71     fixed-sidebar     right_sidebar_no_categorization  3-cupcakes        11         32.5
93   R_1lsl8kCjFiBTyzK     fixed-sidebar     right_sidebar_no_categorization  3-cupcakes        11         30.0
97   R_UfKVwc8Ysy6pN1n     fixed-sidebar     right_sidebar_no_categorization  3-cupcakes        11         30.0
98   R_1cTAX495KgNw4zW     fixed-sidebar     right_sidebar_no_categorization  3-cupcakes        11         32.5
100  R_28J2ielzrCfvy71     fixed-sidebar     right_sidebar_no_categorization  3-cupcakes        12         32.5
102  R_1lsl8kCjFiBTyzK     fixed-sidebar     right_sidebar_no_categorization  3-cupcakes        12         30.0
106  R_UfKVwc8Ysy6pN1n     fixed-sidebar     right_sidebar_no_categorization  3-cupcakes        12         30.0
107  R_1cTAX495KgNw4zW     fixed-sidebar     right_sidebar_no_categorization  3-cupcakes        12         32.5
109  R_28J2ielzrCfvy71     fixed-sidebar        right_sidebar_categorization  3-cupcakes        13         32.5
111  R_1lsl8kCjFiBTyzK     fixed-sidebar        right_sidebar_categorization  3-cupcakes        13         30.0
115  R_UfKVwc8Ysy6pN1n     fixed-sidebar        right_sidebar_categorization  3-cupcakes        13         30.0
116  R_1cTAX495KgNw4zW     fixed-sidebar        right_sidebar_categorization  3-cupcakes        13         32.5
118  R_28J2ielzrCfvy71     fixed-sidebar        right_sidebar_categorization  3-cupcakes        14         32.5
120  R_1lsl8kCjFiBTyzK     fixed-sidebar        right_sidebar_categorization  3-cupcakes        14         30.0
124  R_UfKVwc8Ysy6pN1n     fixed-sidebar        right_sidebar_categorization  3-cupcakes        14         30.0
125  R_1cTAX495KgNw4zW     fixed-sidebar        right_sidebar_categorization  3-cupcakes        14         32.5
127  R_28J2ielzrCfvy71     fixed-sidebar        right_sidebar_categorization  3-cupcakes        15         32.5
129  R_1lsl8kCjFiBTyzK     fixed-sidebar        right_sidebar_categorization  3-cupcakes        15         30.0
133  R_UfKVwc8Ysy6pN1n     fixed-sidebar        right_sidebar_categorization  3-cupcakes        15         30.0
134  R_1cTAX495KgNw4zW     fixed-sidebar        right_sidebar_categorization  3-cupcakes        15         32.5
136  R_28J2ielzrCfvy71     fixed-sidebar  no_right_sidebar_no_categorization  3-cupcakes        16         35.0
138  R_1lsl8kCjFiBTyzK     fixed-sidebar  no_right_sidebar_no_categorization  3-cupcakes        16         30.0
142  R_UfKVwc8Ysy6pN1n     fixed-sidebar  no_right_sidebar_no_categorization  3-cupcakes        16         30.0
143  R_1cTAX495KgNw4zW     fixed-sidebar  no_right_sidebar_no_categorization  3-cupcakes        16         25.0
145  R_28J2ielzrCfvy71     fixed-sidebar  no_right_sidebar_no_categorization  3-cupcakes        17         35.0
147  R_1lsl8kCjFiBTyzK     fixed-sidebar  no_right_sidebar_no_categorization  3-cupcakes        17         30.0
151  R_UfKVwc8Ysy6pN1n     fixed-sidebar  no_right_sidebar_no_categorization  3-cupcakes        17         30.0
152  R_1cTAX495KgNw4zW     fixed-sidebar  no_right_sidebar_no_categorization  3-cupcakes        17         25.0
154  R_28J2ielzrCfvy71     fixed-sidebar  no_right_sidebar_no_categorization  3-cupcakes        18         35.0
156  R_1lsl8kCjFiBTyzK     fixed-sidebar  no_right_sidebar_no_categorization  3-cupcakes        18         30.0
160  R_UfKVwc8Ysy6pN1n     fixed-sidebar  no_right_sidebar_no_categorization  3-cupcakes        18         30.0
161  R_1cTAX495KgNw4zW     fixed-sidebar  no_right_sidebar_no_categorization  3-cupcakes        18         25.0
162  R_1jg3libD6KGk9H6  floating-sidebar     right_sidebar_no_categorization  6-cupcakes        19         27.5
164  R_1q1Bu2t44LidHJ7  floating-sidebar     right_sidebar_no_categorization  6-cupcakes        19         30.0
166  R_2QuIZZlVUGCBNnT  floating-sidebar     right_sidebar_no_categorization  6-cupcakes        19         27.5
171  R_1jg3libD6KGk9H6  floating-sidebar     right_sidebar_no_categorization  6-cupcakes        21         27.5
173  R_1q1Bu2t44LidHJ7  floating-sidebar     right_sidebar_no_categorization  6-cupcakes        21         30.0
175  R_2QuIZZlVUGCBNnT  floating-sidebar     right_sidebar_no_categorization  6-cupcakes        21         27.5
180  R_1jg3libD6KGk9H6  floating-sidebar        right_sidebar_categorization  6-cupcakes        22         27.5
182  R_1q1Bu2t44LidHJ7  floating-sidebar        right_sidebar_categorization  6-cupcakes        22         27.5
184  R_2QuIZZlVUGCBNnT  floating-sidebar        right_sidebar_categorization  6-cupcakes        22         25.0
189  R_1jg3libD6KGk9H6  floating-sidebar        right_sidebar_categorization  6-cupcakes        23         27.5
191  R_1q1Bu2t44LidHJ7  floating-sidebar        right_sidebar_categorization  6-cupcakes        23         27.5
193  R_2QuIZZlVUGCBNnT  floating-sidebar        right_sidebar_categorization  6-cupcakes        23         25.0
198  R_1jg3libD6KGk9H6  floating-sidebar        right_sidebar_categorization  6-cupcakes        24         27.5
200  R_1q1Bu2t44LidHJ7  floating-sidebar        right_sidebar_categorization  6-cupcakes        24         27.5
202  R_2QuIZZlVUGCBNnT  floating-sidebar        right_sidebar_categorization  6-cupcakes        24         25.0
207  R_1jg3libD6KGk9H6  floating-sidebar  no_right_sidebar_no_categorization  6-cupcakes        25         25.0
209  R_1q1Bu2t44LidHJ7  floating-sidebar  no_right_sidebar_no_categorization  6-cupcakes        25         27.5
211  R_2QuIZZlVUGCBNnT  floating-sidebar  no_right_sidebar_no_categorization  6-cupcakes        25         25.0
216  R_1jg3libD6KGk9H6  floating-sidebar  no_right_sidebar_no_categorization  6-cupcakes        26         25.0
218  R_1q1Bu2t44LidHJ7  floating-sidebar  no_right_sidebar_no_categorization  6-cupcakes        26         27.5
220  R_2QuIZZlVUGCBNnT  floating-sidebar  no_right_sidebar_no_categorization  6-cupcakes        26         25.0
225  R_1jg3libD6KGk9H6  floating-sidebar  no_right_sidebar_no_categorization  6-cupcakes        27         25.0
227  R_1q1Bu2t44LidHJ7  floating-sidebar  no_right_sidebar_no_categorization  6-cupcakes        27         27.5
229  R_2QuIZZlVUGCBNnT  floating-sidebar  no_right_sidebar_no_categorization  6-cupcakes        27         25.0
234  R_1jg3libD6KGk9H6  floating-sidebar     right_sidebar_no_categorization  3-cupcakes        28         32.5
236  R_1q1Bu2t44LidHJ7  floating-sidebar     right_sidebar_no_categorization  3-cupcakes        28         20.0
238  R_2QuIZZlVUGCBNnT  floating-sidebar     right_sidebar_no_categorization  3-cupcakes        28         30.0
243  R_1jg3libD6KGk9H6  floating-sidebar     right_sidebar_no_categorization  3-cupcakes        29         32.5
245  R_1q1Bu2t44LidHJ7  floating-sidebar     right_sidebar_no_categorization  3-cupcakes        29         20.0
247  R_2QuIZZlVUGCBNnT  floating-sidebar     right_sidebar_no_categorization  3-cupcakes        29         30.0
252  R_1jg3libD6KGk9H6  floating-sidebar     right_sidebar_no_categorization  3-cupcakes        30         32.5
254  R_1q1Bu2t44LidHJ7  floating-sidebar     right_sidebar_no_categorization  3-cupcakes        30         20.0
256  R_2QuIZZlVUGCBNnT  floating-sidebar     right_sidebar_no_categorization  3-cupcakes        30         30.0
261  R_1jg3libD6KGk9H6  floating-sidebar        right_sidebar_categorization  3-cupcakes        31         27.5
263  R_1q1Bu2t44LidHJ7  floating-sidebar        right_sidebar_categorization  3-cupcakes        31         20.0
265  R_2QuIZZlVUGCBNnT  floating-sidebar        right_sidebar_categorization  3-cupcakes        31         30.0
270  R_1jg3libD6KGk9H6  floating-sidebar        right_sidebar_categorization  3-cupcakes        32         27.5
272  R_1q1Bu2t44LidHJ7  floating-sidebar        right_sidebar_categorization  3-cupcakes        32         20.0
274  R_2QuIZZlVUGCBNnT  floating-sidebar        right_sidebar_categorization  3-cupcakes        32         30.0
279  R_1jg3libD6KGk9H6  floating-sidebar        right_sidebar_categorization  3-cupcakes        33         27.5
281  R_1q1Bu2t44LidHJ7  floating-sidebar        right_sidebar_categorization  3-cupcakes        33         20.0
283  R_2QuIZZlVUGCBNnT  floating-sidebar        right_sidebar_categorization  3-cupcakes        33         30.0
288  R_1jg3libD6KGk9H6  floating-sidebar        right_sidebar_categorization  3-cupcakes        34         35.0
290  R_1q1Bu2t44LidHJ7  floating-sidebar        right_sidebar_categorization  3-cupcakes        34         30.0
292  R_2QuIZZlVUGCBNnT  floating-sidebar        right_sidebar_categorization  3-cupcakes        34         30.0
297  R_1jg3libD6KGk9H6  floating-sidebar        right_sidebar_categorization  3-cupcakes        35         35.0
299  R_1q1Bu2t44LidHJ7  floating-sidebar        right_sidebar_categorization  3-cupcakes        35         30.0
301  R_2QuIZZlVUGCBNnT  floating-sidebar        right_sidebar_categorization  3-cupcakes        35         30.0
306  R_1jg3libD6KGk9H6  floating-sidebar        right_sidebar_categorization  3-cupcakes        36         35.0
308  R_1q1Bu2t44LidHJ7  floating-sidebar        right_sidebar_categorization  3-cupcakes        36         30.0
310  R_2QuIZZlVUGCBNnT  floating-sidebar        right_sidebar_categorization  3-cupcakes        36         30.0

### Drop some more unused columns

In [28]:
df3 = df3.drop(["pri_exp","buy_check"], axis=1)

### List of final columns

In [31]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 123 entries, 1 to 310
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ResponseId               123 non-null    object
 1   age_group                123 non-null    object
 2   gender                   123 non-null    object
 3   computer_use_confide     123 non-null    object
 4   sweet_food_affinity      123 non-null    object
 5   computer_os              123 non-null    object
 6   sidebar_rating           123 non-null    float64
 7   categorization_rating    123 non-null    float64
 8   category_sidebar_rating  123 non-null    float64
 9   IV1                      123 non-null    object
 10  ecomm_frequence          123 non-null    object
 11  trial_id                 123 non-null    int32
 12  ease_of_use              123 non-null    float64
 13  IV2                      123 non-null    object
 14  IV3                      123 non-null    object
dtypes: float64(4), int32(1), object(10)
memory usage: 14.9+ KB

### First 5 rows in cleaned data

In [29]:
df3.head()

,ResponseId,age_group,gender,computer_use_confide,sweet_food_affinity,computer_os,sidebar_rating,categorization_rating,category_sidebar_rating,IV1,ecomm_frequence,trial_id,ease_of_use,IV2,IV3
1,R_28J2ielzrCfvy71,2,1,3,-1,1,7.0,6.0,5.0,fixed-sidebar,2,1,25.0,right_sidebar_no_categorization,6-cupcakes
3,R_1lsl8kCjFiBTyzK,2,1,3,3,1,7.0,7.0,7.0,fixed-sidebar,2,1,35.0,right_sidebar_no_categorization,6-cupcakes
7,R_UfKVwc8Ysy6pN1n,2,2,2,2,1,7.0,3.0,2.0,fixed-sidebar,2,1,32.5,right_sidebar_no_categorization,6-cupcakes
8,R_1cTAX495KgNw4zW,2,1,2,-1,1,6.0,5.0,7.0,fixed-sidebar,3,1,30.0,right_sidebar_no_categorization,6-cupcakes
10,R_28J2ielzrCfvy71,2,1,3,-1,1,7.0,6.0,5.0,fixed-sidebar,2,2,25.0,right_sidebar_no_categorization,6-cupcakes

### Save data to csv

In [30]:
df3.to_csv("qual_data_cleaned.csv", index=False)